<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <% unless !current_user%>
          <dt>Add Review</dt>
          <dd>
            <%= form_for(@product, url: product_reviews_path(@product), method: "post") do |f| %>
        
              <%= f.fields_for :review do |review|%>
                
                Rating: <%= review.select :rating, options_for_select([1,2,3,4,5]) %>
                <br>
                Description: <%= review.text_area :description %>
          
              <% end %>
              <p>            
                <%= f.submit %>
              </p>
            <% end %>
          </dd>
          <% end %>
          <dt>Reviews</dt>
          <dd>
          <% unless @product.reviews.length == 0 %>
            <% @product.reviews.reverse_each do |review| %>
              <% user = User.find_by id: review.user_id %>
              <%=user.first_name%> <%= user.last_name%>: 
                <% (1..review.rating).each do |star| %>
                  ⭐
                <% end %>
                <% (1..(5 - review.rating)).each do |star| %>
                  ★
                <% end %>
              <br> 
              <%= review.description %> 
              <br>
              <% unless !current_user || current_user != user %>
              <%= link_to 'Delete Review', product_review_path({id: review.id, product_id: review.product_id}), 
              method: :delete %>
              <br>
              <% end %>
            <% end %>
          <% else %>
          No reviews!
          <% end %>
          </dd>
        </dl>
      </div>
    </div>

  </article>

</section>
